{
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    },
    {
      "files": [".github/**/*.yml", ".github/**/*.yaml"],
      "options": {
        "printWidth": 999
      }
    }
  ]
}
